DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT].supabase.co:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT].supabase.co:5432/postgres"
JWT_SECRET="your-super-secret-jwt-key-min-32-chars"
OWNER_USERNAME="nikodiaz"
OWNER_PASSWORD="your-owner-password"
